h1 {
    color: #7B8AA7;
}

.customBtn{
    border: none;
    background-color: #7B8AA7;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 15px;
}

.customCart {
    width: 50% !important;
    border-left: 3px solid lightgray;
}

.customCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.customCard div button{
    float: right;
}